# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
data = {
    'evolution':['Ivysaur','Charemeleon','Wartortle','Matapod'],
    'hp':[45,39,44,45],
    'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
    'pokedex':['yes','no','yes','no'],
    'type':['grass','fire','water','bug']
}

### Step 3. Assign it to a variable called pokemon

In [4]:
pokemon = pd.DataFrame(data=data,columns=['evolution','hp','name','pokedex','type'])

In [5]:
pokemon.head()

     evolution  hp        name pokedex   type
0      Ivysaur  45   Bulbasaur     yes  grass
1  Charemeleon  39  Charmander      no   fire
2    Wartortle  44    Squirtle     yes  water
3      Matapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [6]:
pokemon = pokemon[['name','type','hp','evolution','pokedex']]
pokemon

         name   type  hp    evolution pokedex
0   Bulbasaur  grass  45      Ivysaur     yes
1  Charmander   fire  39  Charemeleon      no
2    Squirtle  water  44    Wartortle     yes
3    Caterpie    bug  45      Matapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [7]:
pokemon['place'] =['market','office','cafe','college']
pokemon

         name   type  hp    evolution pokedex    place
0   Bulbasaur  grass  45      Ivysaur     yes   market
1  Charmander   fire  39  Charemeleon      no   office
2    Squirtle  water  44    Wartortle     yes     cafe
3    Caterpie    bug  45      Matapod      no  college

### Step 6. Present the type of each column

In [8]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes

### BONUS: Create your own question and answer it.

In [9]:
pokemon.groupby('name').count()

            type  hp  evolution  pokedex  place
name
Bulbasaur      1   1          1        1      1
Caterpie       1   1          1        1      1
Charmander     1   1          1        1      1
Squirtle       1   1          1        1      1