In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

### **3. Introduction to pandas Series**

In [3]:
products = ['A','B','C','D']
products

['A', 'B', 'C', 'D']

In [4]:
type(products)

list

In [5]:
products_categories = pd.Series(products)

In [6]:
products_categories

0    A
1    B
2    C
3    D
dtype: object

In [7]:
type(products_categories)

pandas.core.series.Series

In [8]:
daily_rates_dollars = pd.Series([40,45,50,55])

In [9]:
daily_rates_dollars

0    40
1    45
2    50
3    55
dtype: int64

In [10]:
print(daily_rates_dollars)

0    40
1    45
2    50
3    55
dtype: int64

In [11]:
array_a = np.array([10,20,30,40,50])

In [12]:
array_a

array([10, 20, 30, 40, 50])

In [13]:
type(array_a)

numpy.ndarray

In [14]:
series_a = pd.Series(array_a)

In [15]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [16]:
print(series_a)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [22]:
type(series_a)

pandas.core.series.Series

### **4. Working with Attributes in Python**

In [23]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [24]:
series_a.dtype

dtype('int32')

In [25]:
series_a.size

5

In [26]:
products_categories

0    A
1    B
2    C
3    D
dtype: object

In [27]:
products_categories.dtype

dtype('O')

In [28]:
type(products_categories)

pandas.core.series.Series

In [29]:
products_categories.size

4

In [31]:
type(products_categories.size) # It returns int because size is 4

int

In [33]:
products_categories.name

In [34]:
print(products_categories.name)

None

In [35]:
products_categories.name = "Product Categories"

In [36]:
products_categories.name

'Product Categories'

In [37]:
print(products_categories.name)

Product Categories

### **5. Using an Index in pandas**

In [42]:
prices_per_category = {"Product A": 10978, "Product B": 56789, "Product C": 34563}
prices_per_category

{'Product A': 10978, 'Product B': 56789, 'Product C': 34563}

In [43]:
type(prices_per_category)

dict

In [44]:
prices_per_category = pd.Series(prices_per_category)

In [45]:
prices_per_category

Product A    10978
Product B    56789
Product C    34563
dtype: int64

In [46]:
type(prices_per_category)

pandas.core.series.Series

In [47]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [48]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

### **6. Label-based vs Position-based Indexing**

In [49]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [50]:
series_a.index

RangeIndex(start=0, stop=5, step=1)

In [51]:
type(series_a.index)

pandas.core.indexes.range.RangeIndex

In [52]:
list(series_a.index)

[0, 1, 2, 3, 4]

In [53]:
prices_per_category

Product A    10978
Product B    56789
Product C    34563
dtype: int64

In [54]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [55]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

### **7. More on Working with Indices in Python**

In [56]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [57]:
prices_per_category

Product A    10978
Product B    56789
Product C    34563
dtype: int64

In [58]:
series_a[0]

10

In [59]:
prices_per_category["Product A"]

10978

In [60]:
prices_per_category[0]

10978

In [61]:
prices_per_category[1]

56789

In [62]:
prices_per_category[2]

34563

In [63]:
series_b = pd.Series([10,20,30,40,50],index = [1,2,3,4,5])
series_b

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [64]:
series_b[0]

KeyError: 0

In [65]:
series_b[1]

10

In [66]:
series_c = pd.Series([10,20,30,40,50], index = ['1','2','3','4','5'])
series_c

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [67]:
series_c[1]

20

In [68]:
series_c["1"]

10

In [69]:
series_c[0]

10

In [70]:
prices_per_category

Product A    10978
Product B    56789
Product C    34563
dtype: int64

### **8. Using Methods in Python - Part I**

In [71]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [72]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [73]:
start_date_deposits.sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64>

In [74]:
start_date_deposits.sum()

29500

In [75]:
start_date_deposits.min()

1000

In [76]:
start_date_deposits.max()

4000

In [77]:
start_date_deposits.mean()

2107.1428571428573

In [81]:
start_date_deposits.idxmax() # Return index of max values

'9/3/2015'

In [82]:
start_date_deposits.idxmin() # Return index of min values

'12/8/2012'

### **9. Using Methods in Python - Part II(Non_mathematical methods(Like for categories etc))**

In [83]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [84]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [85]:
start_date_deposits.tail()

7/25/2016    2000
5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

### **10. Parameters vs Arguments**

In [86]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [87]:
start_date_deposits.head(3)

7/4/2014     2000
1/2/2015     2000
12/8/2012    1000
dtype: int64

In [88]:
start_date_deposits.head(10)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

In [89]:
len(start_date_deposits)

14

In [90]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [92]:
start_date_deposits.head(n=10)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

### **12. Introduction to pandas DataFrames**

In [93]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data)
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

### **13. Creating DataFrames from Scratch - Part I**

In [95]:
data = {'Product Name': ['Product A','Product B','Product C'], 'Product Price': [22350,16098,98342]}
df = pd.DataFrame(data)
df

  Product Name  Product Price
0    Product A          22350
1    Product B          16098
2    Product C          98342

Constract a DataFrame from a dictionary of lists + specify an index

In [96]:
data = {'Product Name': ['Product A','Product B','Product C'], 'Product Price': [22350,16098,98342]}
df = pd.DataFrame(data, index = ['A','B','C'])
df

  Product Name  Product Price
A    Product A          22350
B    Product B          16098
C    Product C          98342

In [97]:
data = {'Product Name': ['Product A','Product B','Product C'], 'Product Price': [22350,16098,98342]}
product_ids = ['A','B','C']
df = pd.DataFrame(data, index = product_ids )
df

  Product Name  Product Price
A    Product A          22350
B    Product B          16098
C    Product C          98342

Construct a DataFrame from a list of dictionaries

In [98]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [99]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':[12500, 100000]}]
df = pd.DataFrame(data)
df

  ProductName     ProductPrice
0   Product A            22250
1   Product B            16600
2   Product C  [12500, 100000]

In [100]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500},
        {'ProductName':'Product D'}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A       22250.0
1   Product B       16600.0
2   Product C       12500.0
3   Product D           NaN

### **14. Creating DataFrames from Scratch - Part II**

Construct a DataFrame from a dictionary of pandas Series

In [101]:
series_products = pd.Series(['Product A','Product B','Product C'])
series_prices = pd.Series([29874,18733,29876])

In [102]:
data = {'Product Name': series_products, 'Product Price': series_prices}
df = pd.DataFrame(data)
df

  Product Name  Product Price
0    Product A          29874
1    Product B          18733
2    Product C          29876

In [103]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['A', 'B', 'C'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [104]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['C', 'B', 'A'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         12500
B   Product B         16600
C   Product C         22250

Construct a DataFrame from a list of lists

In [105]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [106]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500, 5000]]
df = pd.DataFrame(data)
df

           0      1       2
0  Product A  22250     NaN
1  Product B  16600     NaN
2  Product C  12500  5000.0

In [107]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [108]:
df.columns = ['Product Name', 'Product Price']
df

  Product Name  Product Price
0    Product A          22250
1    Product B          16600
2    Product C          12500

In [109]:
df.index = ['A','B','C']
df

  Product Name  Product Price
A    Product A          22250
B    Product B          16600
C    Product C          12500

Construct a DataFrame in a Professional Way

In [119]:
df = pd.DataFrame(data = [['Product A',12753],['Product B',76434],['Product C',38765]],
                  columns = ['ProductName','ProductPrice'],
                  index = ['A','B','C']
                   )
df

  ProductName  ProductPrice
A   Product A         12753
B   Product B         76434
C   Product C         38765

In [120]:
df.size

6

In [121]:
df.shape

(3, 2)

In [122]:
df.columns

Index(['ProductName', 'ProductPrice'], dtype='object')

In [125]:
df['ProductPrice']

A    12753
B    76434
C    38765
Name: ProductPrice, dtype: int64